/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/* RESET */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* COLORS */
:root {
  --blue: #5847eb;
  --light-red: #ff8c66;
  --soft-blue: #b3c1ff;
  --light-red-study: #ff5c7c;
  --lime-green: #a8e063;
  --violet: #c792ea;
  --soft-orange: #ff9e73;
  --very-dark-blue: #0d0c22;
  --dark-blue: #1e213a;
  --desaturated-blue: #2a3052;
  --pale-blue: #e7e7eb;
}

/* TYPOGRAPHY */
body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--very-dark-blue);
}

/* LAYOUT */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1.5rem;
}
img {
  display: block;
}

.dashboard-container {
  width: clamp(280px, 100%, 1110px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 1.5rem;
}

/* COMPONENTS */

/* HEADER */
/* name-card */

.name-and-options-card-container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  max-height: 200px;
}

.name-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--blue);
  border-radius: 15px;
  gap: 1rem;
  grid-row: 1/4;
  grid-column: 1/2;
  z-index: 1;
  /* pointer-events: none; */
}
.name-card img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 3px solid white;
  /* margin-right: 1rem; */
}
.name-card p {
  font-size: 15px;
  color: var(--soft-blue);
}
.name-card h1 {
  font-size: 1.5rem;
  font-weight: 300;
}
/* time options-card */

.time-options-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: var(--dark-blue);
  border-radius: 15px;
  padding: 1.8rem 2rem;

  grid-row: 3/6;
  grid-column: 1/2;
  pointer-events: none;
}
.time-options-container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.time-options-container li {
  list-style: none;
}

.time-options-container .time-button {
  background-color: transparent;
  border: none;
  color: #7078c9;

  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  text-align: center;

  pointer-events: auto;
}
.time-options-container button:hover {
  color: white;
}

/* DASHBOARD ITEMS */
/* dashboard item-grid-container */
.dashboard-item {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  max-height: 160px;
}

.background-pic {
  grid-row: 1/4;
  grid-column: 1/2;
}
.dashboard-item-text {
  grid-row: 3/9;
  grid-column: 1/2;
}

/* background pic */
.background-pic {
  border-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  overflow: hidden;
}
.background-pic img {
  margin-top: -10px;
  margin-right: 1rem;
  width: 78px;
  height: 78px;
}

.dashboard-item:nth-of-type(1) > .background-pic {
  background-color: var(--soft-orange);
}
.dashboard-item:nth-of-type(2) > .background-pic {
  background-color: #55c2e6;
}
.dashboard-item:nth-of-type(3) > .background-pic {
  background-color: var(--light-red-study);
}
.dashboard-item:nth-of-type(4) > .background-pic {
  background-color: #4bcf82;
}
.dashboard-item:nth-of-type(5) > .background-pic {
  background-color: #7335d2;
}
.dashboard-item:nth-of-type(6) > .background-pic {
  background-color: #f1c75b;
}

/* dashboard item-main */
.dashboard-item-text {
  background-color: var(--dark-blue);
  padding: 1.75rem 1.5rem;
  border-radius: 15px;
}
.dashboard-item-text h2 {
  font-size: inherit;
  font-weight: 500;
}
.dashboard-item-text .flex-top,
.dashboard-item-text .flex-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard-item-text h3 {
  font-size: 2rem;
  font-weight: 300;
}
.dashboard-item-text p {
  font-size: 15px;
  color: var(--soft-blue);
}
/* DESKTOP STYLES */
@media (min-width: 550px) {
  .dashboard-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
  }
  .name-and-options-card-container {
    grid-column: 1/3;
  }
}

@media (min-width: 950px) {
  /* GRID CONTAINERS */
  /* page layout */
  .dashboard-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 30px;
  }
  .name-and-options-card-container {
    grid-row: 1/3;
    grid-column: 1/2;
    max-height: none;
    grid-template-rows: repeat(10, 1fr);
  }
  .dashboard-item {
    max-height: none;
  }
  /*component layout  */
  .name-card {
    grid-row: 1/8;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.5rem;
  }

  .time-options-container {
    grid-row: 6/11;
    justify-content: flex-start;
  }

  .time-options-container ul {
    flex-direction: column;
    align-items: flex-start;
    /* gap: 0; */
  }
  .dashboard-item {
    grid-template-rows: repeat(10, 1fr);
  }
  .background-pic {
    grid-row: 1/5;
    grid-column: 1/2;
  }
  .dashboard-item-text {
    grid-row: 3/11;
    grid-column: 1/2;
    gap: 1.5rem;
  }
  .dashboard-item-text .flex-bottom {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    /* margin-top: 1.5rem; */
  }

  /* TYPEOGRAPHY */
  .name-card h1 {
    font-size: 40px;
    line-height: 47px;
  }
  .name-card img {
    width: 78px;
    height: 78px;
  }

  .dashboard-item-text h3 {
    font-size: 3.5rem;
  }
}
